---
---

<section class="about section" id="about">
  <div class="container">
    <h2>About Edwards & Smith Buyers Agents</h2>
    <p>
      Edwards & Smith Buyers Agents was founded by former AFL players Jake Edwards (Carlton) and Ely Smith (Brisbane Lions). During their AFL careers, they invested in property to secure their futures. After helping Jake buy an investment property, Ely became fascinated with the buyers agent role and joined the business. They've assisted numerous AFL players like Zach Bailey, Ben King, and Conor Budarick in finding homes. Their mission is to "bridge the gap between buyers and the property market, offering transparent, authentic guidance for purchasing homes and investment properties."
    </p>
    <a href="#team" class="button-primary">MEET THE TEAM</a>
  </div>
</section>

<style>
  .about {
    text-align: center;
  }

  .about h2 {
    margin-bottom: 30px;
  }

  .about p {
    margin-bottom: 30px;
    line-height: var(--line-height-body);
  }
</style>
